.testimonial {
    padding: 181px 12px 150px;
    &__quote-highlight {
        font-size: 56px;
        line-height: 56px;
        font-weight:500;
        max-width: 470px;
        margin: 0;
        &__icon {
            margin-bottom: 16px;
        }
    }
    &__long-quote {
        font-size: 24px;
        line-height: 32px;
        font-weight:400;
        margin: 0 0 20px;
    }
    &__quote-highlight, 
    &__long-quote {
        font-family: "Gelion", sans-serif;
    }
    &__credit {
        font-family: "Inter V", sans-serif;
        color: $black;
        opacity: 0.5;
        &__company {
            font-style: italic;
        }
        p {
            margin:0;
        }
    }
}