.client-list {
    background-color: $light_gray;
    padding-top: 82px;
    padding-bottom: 13px;
    &__heading {
        font-size: 24px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 55px;
    }
    &__client {
        @include ease(0.3s, all);
        margin-bottom: 72px;
        &:hover {
            transform: scale(1.1);
        }
    }
}